body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#gameItem {
  background-color: rgb(251, 255, 255);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 189px;
  top: 190px;
  border-radius: 10px;
}

#rightPaddle {
  background-color: aqua;
  width: 20px;
  height: 30px;
  top:100px;
  border-radius: 100px;
  position: relative;
}

#leftPaddle {
  background-color: antiquewhite;
}